/* Here's some grumble, you can just skip this. */
/* I hate a developer named ACGI, he steal my design go to Get money. */
/* his homepage is http://addon.discuz.com/?@52180.developer */
/* his "二次元动漫ACGI_B1" almost completely copy my design for "moon_palace v1.0". */
/* then he use it to make so much money (About ￥5000/Months), but I'm losing everything. */
/* My friend feedback this to Discuz, but the response is his account be banned. */
/* bad end */

/* prohibit landscape scroll */
html {
	overflow: hidden;
}

body {
	overflow-x: hidden;
}

/* remove unrelated things */
#g_nav,#g_top,.g-ft,.opt.hshow,.u-lstlay.j-flag {
	display: none;
}

.m-tabs.m-tabs-srch.f-cb.ztag li:not(:nth-child(1)) {
	display: none;
}

.m-tabs.m-tabs-srch.f-cb.ztag li:nth-child(3) {
	display: list-item;
}

/* beautify search input box */
.n-srch .pgsrch {
	width: 100%;
}

.n-srch .pgsrch,.n-srch .pgsrch .btn {
	background-image: url(http://ofcgpg3h5.bkt.clouddn.com/Music163/search_button.png);
}

.n-srch .pgsrch .srch {
	width: 810px;
	padding: 12px 20px;
	margin: 0;
	background: transparent;
}

.n-srch .pgsrch .btn:hover {
	background-position: -910px 0;
}

/* indicate */
.m-tabs-srch li em {
	font-size: 0px;
}

.m-tabs-srch li em::after {
	color: #333;
	font-size: 14px;
}

.m-tabs-srch li.fst em::after {
	content: '下载单曲歌词';
}

.m-tabs-srch li.fst + li + li > a > em::after {
	content: '下载专辑封面';
}

.ztag.j-flag:empty {
	height: 450px;
	background: url(http://xin.moem.cc/MMT163/MMT163.png) no-repeat;
}

.ztag.j-flag .n-srchrst .srchsongst::before {
	content: '　　 歌曲名　　　　　　　　　　　　　　　　　　　　　　　　艺术家　　　　　　　专辑　　　　　　　　　　曲长　';
	background: #f2f2f2;
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	text-shadow: 0 0 3px rgba(0, 0, 0, .1);
}


/* render download button */
.n-srchrst .srchsongst .hd {
	width: auto;
	height: auto;
}

.n-srchrst .srchsongst .hd .ply {
	line-height: 24px;
	width: 64px;
	height: 24px;
	margin-top: -2px;
	text-align: center;
	text-decoration: none;
	border-radius: 3px;
	background: white;
	box-shadow: 0 0 3px black;
}

.n-srchrst .srchsongst .hd .ply::after {
	content: '下载歌词';
}

/* CD Cover style */
.m-cvrlst .icon-play {
	display: none !important;
}

/* change others things style */
body {
	background: #fff;
}

.g-bd {
	border: 0;
}
